/*шапка*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

/*размер 100%*/
.w100{
    width: 100%;
}

/*скрыть элемент*/

body .dn {
    display: none;
}


/* отступ сверху */

header {
    padding-top: 10px;
}


/*размер картинок в шапке*/

header img {
    width: 150px;
}

.logo-img2 {
    width: 100%;
}

.logo-img-mini {
    width: 150px;
    margin-top: -10px;
}

.tel {
    font-size: 18px;
}


/*картинка телефона*/

.tel-img {
    width: 100px;
    float: left;
}


/*карусель*/

.carousel h3 {
    display: inline-block;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -0 -2px 0 #9E9E9E, 0 -2px 0 #9E9E9E, -0 2px 0 #9E9E9E, 0 2px 0 #9E9E9E, -2px -0 0 #9E9E9E, 2px -0 0 #9E9E9E, -2px 0 0 #9E9E9E, 2px 0 0 #9E9E9E, -1px -2px 0 #9E9E9E, 1px -2px 0 #9E9E9E, -1px 2px 0 #9E9E9E, 1px 2px 0 #9E9E9E, -2px -1px 0 #9E9E9E, 2px -1px 0 #9E9E9E, -2px 1px 0 #9E9E9E, 2px 1px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E;
}

.carousel p {
    padding: 4px;
    font-size: 23px;
    line-height: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* цвет ссылок в верхнем меню*/

// Кнопка в меню
.navbar-inverse .top-menu li a {
}

// активная кнопка
.navbar-inverse .top-menu li.active a {

}


/*Активная, наведение, фокус кнопки*/

.navbar-inverse .top-menu li a:hover,
.navbar-inverse .top-menu li a:focus,
.navbar-inverse .top-menu li.active a,
.navbar-inverse .top-menu li.active a:hover,
.navbar-inverse .top-menu li.active a:focus{

}