/*шапка*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

/*стандартный шрифт, чтоб цыфры не прыгали*/
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: Arial,sans-serif;
}

/*размер 100%*/

.w100 {
    width: 100%;
}


/*скрыть элемент*/

body .dn {
    display: none;
}


/* отступ сверху */

header {
    padding-top: 10px;
}


/*темный фон для шапки*/

header,
.navbar {
    background-color: #585858;
    border: none;
}


/*отступ сверху номера телефонов и графика работы*/

header .col-md-4:not(:first-child) {
    margin-top: 40px;
}


/*оформление текста в шапке*/

.header-div-text,
.header-div-text a {
    padding-top: 5px;
    color: white;
    text-shadow: 1px 1px 3px rgba(175, 253, 85, 0.45);
}


/*Затемнение и прозрачность*/

.navbar {
    background-color: rgba(0, 0, 0, .3);
}


/*размер картинок в шапке*/

.logo-img-mini {
    width: 150px;
    /*margin-top: -10px;*/
}

.tel {
    font-size: 18px;
}


/*картинка телефона*/

.tel-img {
    width: 100px;
    float: left;
}


/*карусель*/

.carousel h3 {
    display: inline-block;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -0 -2px 0 #9E9E9E, 0 -2px 0 #9E9E9E, -0 2px 0 #9E9E9E, 0 2px 0 #9E9E9E, -2px -0 0 #9E9E9E, 2px -0 0 #9E9E9E, -2px 0 0 #9E9E9E, 2px 0 0 #9E9E9E, -1px -2px 0 #9E9E9E, 1px -2px 0 #9E9E9E, -1px 2px 0 #9E9E9E, 1px 2px 0 #9E9E9E, -2px -1px 0 #9E9E9E, 2px -1px 0 #9E9E9E, -2px 1px 0 #9E9E9E, 2px 1px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E;
}

.carousel p {
    padding: 4px;
    font-size: 23px;
    line-height: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* цвет ссылок в верхнем меню*/


/*Кнопка в меню*/

.navbar-inverse .top-menu li a {
    transition: all 0.5s ease;
    background:#3E3E3E;
    color: #64d57a;
    text-decoration: none;
        /*font-weight: inherit;*/
    /*font-style: inherit;*/
    /*font-family: inherit;*/
    border:1px solid;
    /*border-radius:5px;*/
}


/*активная кнопка*/

.navbar-inverse .top-menu li.active a {}


/*необходимо для покачивания*/

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/*Активная, наведение, фокус кнопки*/


/*кнопка шатается и становится зеленой с золотым цветом букв*/

.navbar-inverse .top-menu li a:hover,
.navbar-inverse .top-menu li a:focus,
.navbar-inverse .top-menu li.active a,
.navbar-inverse .top-menu li.active a:hover,
.navbar-inverse .top-menu li.active a:focus {
    color:white;
    background-color: #64d57a;
    border-color:#64d57a;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/*левое меню*/


/*скорость анимации*/

.leftmenu a.btn {
    transition: all 0.5s ease;
}


/*шатающаяся кнопка*/

.leftmenu a.btn.btn-success:focus,
.leftmenu a.btn.btn-success:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/*Крутящаяся кнопка в фокусе*/

.leftmenu a.btn.btn-success:focus {
    /*    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);*/
}

/*строка поиска*/
.navbar-form .form-control{
    width:150px;
}