/*шапка*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

/*размер 100%*/
.w100{
    width: 100%;
}

/*скрыть элемент*/

body .dn {
    display: none;
}


/* отступ сверху */

header {
    padding-top: 10px;
}


/*размер картинок в шапке*/

header img {
    width: 150px;
}

.logo-img2 {
    width: 100%;
}

.logo-img-mini {
    width: 150px;
    margin-top: -10px;
}

.tel {
    font-size: 18px;
}


/*картинка телефона*/

.tel-img {
    width: 100px;
    float: left;
}


/*карусель*/

.carousel h3 {
    display: inline-block;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -0 -2px 0 #9E9E9E, 0 -2px 0 #9E9E9E, -0 2px 0 #9E9E9E, 0 2px 0 #9E9E9E, -2px -0 0 #9E9E9E, 2px -0 0 #9E9E9E, -2px 0 0 #9E9E9E, 2px 0 0 #9E9E9E, -1px -2px 0 #9E9E9E, 1px -2px 0 #9E9E9E, -1px 2px 0 #9E9E9E, 1px 2px 0 #9E9E9E, -2px -1px 0 #9E9E9E, 2px -1px 0 #9E9E9E, -2px 1px 0 #9E9E9E, 2px 1px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E, -2px -2px 0 #9E9E9E, 2px -2px 0 #9E9E9E, -2px 2px 0 #9E9E9E, 2px 2px 0 #9E9E9E;
}

.carousel p {
    padding: 4px;
    font-size: 23px;
    line-height: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* цвет ссылок в верхнем меню*/

/*Кнопка в меню*/
.navbar-inverse .top-menu li a {
transition:all 0.3s ease;
background-color: gold;
}

/*активная кнопка*/
.navbar-inverse .top-menu li.active a {

}

/*необходимо для покачивания*/
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/*Активная, наведение, фокус кнопки*/

.navbar-inverse .top-menu li a:hover,
.navbar-inverse .top-menu li a:focus,
.navbar-inverse .top-menu li.active a,
.navbar-inverse .top-menu li.active a:hover,
.navbar-inverse .top-menu li.active a:focus{
background-color: #f7ff00;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}